# Supabase Configuration
VITE_SUPABASE_URL=https://vwhwaoxkcrnbolmekddt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ3aHdhb3hrY3JuYm9sbWVrZGR0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2MzQ4NDAsImV4cCI6MjA5MDIxMDg0MH0.cZ9WuX5A8tV1SCUg4ETRzFcjFeyti4v3RTpzPWOYr1k
